@charset "UTF-8";
/*
Concept and Design by Team One advertising
Development by philosophie llc

Client: Heal the Bay
Project: Buy the Bay Website 1.0
Designers: Tiffany Pan
Developers: Jeff Schenck, Emerson Taymor, Skot Carruth


===COLOR SCHEME===

Background: 
Links: 
Headers: 
Accent: 
Borders: 
	
*/

body{
	font-family: helvetica, arial, sans-serif;
	font-size: .625em;
	background:#fff;
	color:#787878;
}

.container{
	margin: 0 auto;
	padding:0 10px;
	width:940px;
}

/* ~~~~~ HEADER ~~~~~ */

#mainHeader{
	overflow:hidden;
	margin-top:15px;
}
#cartLinks {display:block;text-align:right;}
#cartLinks ul li{display:inline;text-transform:uppercase;color:#f15831;padding:0 3px;}
#cartLinks ul li#cartIcon{padding:0px 3px 4px 18px;background:url(../_images/icons/cart.png) no-repeat top left;}
#cartLinks a{color:#f15831;}
#cartLinks ul li a:hover{color:#787878;}
#logo{
	display:block;
	text-indent:-9999px;
	background:url(../_images/logo.png) no-repeat top left;
	width:266px;
	height:72px;
	margin:30px 0;
	float:left;
}
#mainNav {float:right;margin-top:50px;}
#mainNav ul li{display:inline;}
#mainNav ul li a{
	display:block;
	float:left;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:center;
	height:11px;
	padding:10px 15px;
	background-color:#fff;
	margin-right:15px;
	line-height:48px;
}

#mainNav ul li a:hover, #mainNav ul li a.selected{background-color:#f0db29;}

#mainNav ul li #homeNav{background-image:url(../_images/nav/home.png);width:31px;}
#mainNav ul li #newsNav{background-image:url(../_images/nav/news.png);width:31px;}
#mainNav ul li #aboutNav{background-image:url(../_images/nav/about.png);width:37px;}
#mainNav ul li #artistsNav{background-image:url(../_images/nav/artists.png);width:45px;}
#mainNav ul li #collectionNav{background-image:url(../_images/nav/collection.png);width:67px;}
#mainNav ul li #htbNav{background-image:url(../_images/nav/htb.png);width:58px;height:48px;margin:-10px 0 0;padding:0;}
#mainNav ul li #htbNav:hover, #mainNav ul li #htbNav.selected{background-color:#fff;}

#firstTime{margin-top:30px;clear:both;overflow:hidden;}
#firstTime p{
	font-size:2.2em;
	color:#595959;
	line-height:1.59em;
}
#firstTime p a{color:#299cc1;}

/* ~~~~~ FOOTER ~~~~~ */
#footer{
	border-top:1px solid #a0a0a0;
	padding-top:12px;
}
#footer ul{float:left;}
#footer ul li{
	display:inline;
	color:#a0a0a0;
	border-right:1px solid #a0a0a0;
	padding:0 10px;
	font-size:1.1em;
}
#footer ul li.last{border:none;}
#footer ul li a{color:#a0a0a0;}
#footer ul li a:hover{color:#787878;}

#htbFootInfo{
	float:right;
	width:220px;
}
#htbFootInfo img{margin-bottom:3px;}
#htbFootInfo #htbLike{float:left;margin-left:10px;width:60px;}
#htbFootInfo p{color:#787878;font-size:1.1em;float:left;width:140px;text-align:right;}



/* ~~~~~ HOME ~~~~~ */
#featuredSection{
	width:940px;
	height:395px;
	display:block;
	overflow:hidden;
	margin-bottom:20px;
	position:relative;
}

#featContainer ul, #featContainer li{
	margin:0;
	padding:0;
	list-style:none;
}
#featContainer li{ 
	width:940px;
	height:395px;
	overflow:hidden; 
}
#featContainer li img.featOver{
    position:absolute;
    top:0;left:0;
    display:none;
}
#viewCollection a{padding:5px 6px;background-color:#fff;font-size:1.2em;position:absolute;right:0px;bottom:0px;z-index:90;
    filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;
}
#viewCollection a:hover{
    filter:alpha(opacity=100);  
       -moz-opacity:1;  
       -khtml-opacity: 1;  
       opacity: 1;
}
#featControls {position:absolute;right:100px;bottom:5px;z-index:90;list-style:none;}
#featControls li{display:inline;margin:0;}
#featControls li a{padding:4px 6px;background-color:#fff;font-size:1.2em;
    filter:alpha(opacity=70);  
    -moz-opacity:0.7;  
    -khtml-opacity: 0.7;  
    opacity: 0.7;
}
#featControls li.current a{
    background-color:#5DC9E1;
    color:#fff;
    filter:alpha(opacity=100);  
    -moz-opacity:1;  
    -khtml-opacity: 1;  
    opacity: 1;
}
#spreadWordHome{
	display:block;
	background-color:#bed630;
	height:37px;
	line-height:37px;
	padding:0 10px;
	margin-bottom:20px;
}
#spreadWordHome h3{margin:10px 15px 0 0;}
#spreadWordHome p{color:#000;float:left;line-height:37px;}
#spreadWordHome p a{color:#000;text-decoration:underline;}

#spreadWordHome .socialLinks {float:right;}
#spreadWordHome .socialLinks li{color:#fff;text-transform:uppercase;display:inline;padding:0 5px;}
#spreadWordHome .socialLinks li img{margin-right:3px;vertical-align:middle;}
#spreadWordHome .socialLinks li a{color:#fff;}
#spreadWordHome .socialLinks li a:hover{color:#004A80;}

#learnMore{overflow:hidden;margin-bottom:30px;}
.learnMoreItem{
	float:left;
	margin-right:15px;
	width:222px;
	position:relative;
}
.learnMoreItem h2{margin-bottom:15px;}
.learnMoreItem img{}
.learnMoreItem p{color:#fff;background-color:#299cc1;display:block;position:absolute;bottom:0;left:0;padding:10px 8px;width:206px;z-index:2;margin-bottom:0;}
.learnMoreItem p a{color:#fff;}
#whoWeAre{margin-right:0;}



/* ~~~~~ ABOUT PAGES ~~~~~ */
#content{overflow:hidden;margin-bottom:30px;}
.about#content, .artists#content, .news#content, .collection#content, .cart#content, .thankyou#content{width:780px;}
.about h1, .artists h1, .news h1, .collection h1, .thankyou h1, .cart h1{float:right;margin-bottom:25px;}
.about #sidebar, .artists #sidebar, .news #sidebar{
	width:120px;
	paddin-right:60px;
	text-align:right;
}

#sidebar{font-size:1.2em;clear:both;}
#sidebar a.selected, #sidebar a:hover{text-decoration:underline;}
#sidebar ul li{
	display:block;
	margin-bottom:12px;
}
#aboutContent, #aboutFooter, #artistContent, #artistFooter, #newsContent, #collectionContent{
	width:600px;
	float:right;
}
#aboutPhoto, .artistPhoto{margin-bottom:28px;}

#aboutContent .fbShare{margin-bottom:15px;}

#aboutFooter h3#getInvolved a, #aboutFooter h3#visitHTB a, #aboutFooter h3#seeProducts a, #aboutFooter h3#visitSite a{
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:10px;
	background-color:#72cadd;
	float:left;
	margin-right:10px;
	height:32px;
	line-height:32px;
}

#aboutFooter h3#getInvolved a{width:97px;}
#aboutFooter h3#visitHTB a{width:118px;}
#aboutFooter h3#seeProducts a{width:97px;}
#aboutFooter h3#visitSite a{width:73px;}

#spreadWord{
	display:block;
	background-color:#bed630;
	height:32px;
	line-height:32px;
	padding:0 6px 0 10px;
	float:left;
	width:330px;
}
.news #spreadWord{width:600px;}
#spreadWord .socialLinks {float:right;}
#spreadWord .socialLinks li{color:#fff;text-transform:uppercase;display:inline;padding:0 2px;}
#spreadWord .socialLinks li img{margin-right:3px;vertical-align:middle;}
#spreadWord .socialLinks li a{color:#fff;}
#spreadWord .socialLinks li a:hover{color:#004A80;}

/* ~~~~~ ARTISTS PAGE ~~~~~ */

#artistContent a{text-decoration:underline;}
#artistContent h2{text-transform:uppercase;color:#004a80;font-size:2.4em;margin:25px 0;font-family:"proxima-nova-extra-condensed-1";}
p.disclaimer{font-size:1em;padding-top:20px;font-style:italic;}

/* ~~~~~ NEWS PAGES ~~~~~ */
#tweetTweet{
	padding:0 0 25px 55px;
	background:url(../_images/icons/twitter-bird.png) no-repeat top left;
	border-bottom:1px solid #a0a0a0;
	margin-bottom:25px;
	width:545px;
	float:right;
}
#tweetTweet a#followLink{text-transform:uppercase;color:#17a2dc;display:block;margin:0 0 10px 14px;}

#tweetTweet p{
	padding-left:14px;
	background:url(../_images/speech-bubble-left.png) no-repeat top left #e2e2e2;
	width:533px;
	color:#787878;
	font-size:1.4em;
	height:30px;
	line-height:30px;
}
#tweetTweet p a{color:#787878;}
#tweetTweet span{text-transform:uppercase;padding-left:15px;color:#17a2dc;}

#newsContent .post{
	overflow:hidden;
	margin-bottom:30px;
	padding-bottom:25px;
	border-bottom:1px solid #a0a0a0;
}
#newsContent.single .post{border:none;}
#newsContent .post .postHeader{overflow:hidden;margin-bottom:25px;}
#newsContent .post .postHeader h2{font-size:2.2em;float:left;display:block;width:450px;font-weight:normal;}
#newsContent .post .postHeader a{color:#787878;}
#newsContent .post .postHeader a:hover{color:#101010;}
#newsContent .post .postHeader .meta{float:right;width:150px;display:block;text-align:right; color:#a5a5a5;font-style:italic;margin-top:10px;}
#newsContent .post p{color:#101010;}

#newsContent h2#catName{text-transform:uppercase;font-size:2em;margin-bottom:25px;display:inline-block;padding:10px;background-color:#E2E2E2;}


/* ~~~~~ COLLECTION PAGE ~~~~~ */
.collection #sidebar{
	width:115px;
	padding-right:45px;
	text-align:right;
}

.collection #sidebar ul{margin-bottom:30px;}
.collection #sidebar ul#sortBy a{padding-right:10px;}
.collection #sidebar ul#sortBy a.up{background:url(../_images/icons/small-triangle-up.png) no-repeat center right;}
.collection #sidebar ul#sortBy a.down{background:url(../_images/icons/small-triangle-down.png) no-repeat center right;}

.collection #sidebar ul#tags {display:none;}
.collection #sidebar ul#tags li{display:inline;font-style:italic;line-height:1.67em;}
.collection #sidebar .listHeader{display:block;margin-bottom:4px;}

.collection #sidebar ul#tags li a.selected{
	padding:3px 5px 3px 10px;
	background:url(../_images/icons/x.png) no-repeat 4px 7px #ddd;
	text-decoration:none;
	-moz-border-radius: 4px;  
	-webkit-border-radius: 4px; 
}
.collection #sidebar ul#tags li a.selected:hover{background-color:#c0c0c0;}

#collectionContent{width:620px;}

#collectionContent .product{
	width:299px;
	margin:0 20px 50px 0;
	float:left;
	position:relative;
}
#collectionContent .product.two{margin-right:0;}
#collectionContent .product .productPhoto{
	width:299px;
	height:199px;
	overflow:hidden;
}
#collectionContent .product .productPhoto img{
	margin-bottom:15px;
}
#collectionContent .product .productPhoto img.overPhoto{
    position:absolute;
    top:0;left:0;
    display:none;
}

h2.productTitle{font-size:2.1em;color:#252525;text-transform:uppercase;margin-bottom:0px;font-weight:normal;font-family:"proxima-nova-extra-condensed-1";}
p.productArtist{font-size:1.2em;color:#252525;margin-bottom:0;}

.pagination{font-size:1.1em;padding-bottom:5px;}
/* ~~~~~ PRODUCT DETAILS PAGE ~~~~~ */

#leftSide{
	width:578px;
	float:left;
	margin-right:20px;
}
#rightSide{
	width:330px;
	float:right;
	padding-left:10px;
}
#switchProducts ul{display:block;width:100%;margin-bottom:12px;overflow:hidden;}
#switchProducts ul li a{color:#787878;text-transform:uppercase;}
#switchProducts ul li.prevNavItem{float:left;padding-left:10px;background:url(../_images/icons/small-triangle-left.png) no-repeat left center;}
#switchProducts ul li.nextNavItem{float:right;padding-right:10px;background:url(../_images/icons/small-list-triangle.png) no-repeat right center;}
#mainImage{margin-bottom:12px;}
#mediaViewer span{color:#959595;text-transform:uppercase;display:block;margin-bottom:3px;}
#mediaViewer ul li{display:inline;}
#mediaViewer{
	padding-bottom:15px;
	margin-bottom:20px;
	border-bottom:1px solid #787878;
}

#commentHeader {margin-bottom:25px;overflow:hidden;}
#commentHeader h2{
	color:#101010;
	text-transform:uppercase;
	font-size:2em;
	float:left;
	font-family:"proxima-nova-extra-condensed-1";
}

#commentHeader a#addComment{
	float:right;
	color:#787878;
	text-transform:uppercase;
}
.comment{overflow:hidden;padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #787878;}
.comment p{
	width:420px;
	display:block;
	font-size:1.1em;
	line-height:1.4em;
	float:left;
}
.comment  .authorMeta{
	float:right;
	width:157px;
	display:block;
	color:#787878;
	font-size:1.1em;
}

.comment .authorMeta .author{text-align:right;width:110px;float:left;}
.comment .authorMeta .timeOfComment{text-align:right;width:110px;float:left;}
.comment .authorMeta .author a{font-weight:bold;color:#787878;}
.comment  .authorMeta img{margin-left:5px;}


#productHeader h1{float:left;padding-top:10px;font-family:"proxima-nova-extra-condensed-1";font-size:2em;}
#productHeader #productPrice{
	background:url(../_images/icons/starburst-trans.png) no-repeat top left;
	display:block;
	text-align:center;
	width:50px;
	height:50px;
	line-height:50px;
	color:#fff;
	float:right;
	font-size:1.8em;
	font-family:"proxima-nova-extra-condensed-1";
}
#artistCredit{
	clear:both;
	font-size:1.2em;
	color:#787878;
	margin-bottom:30px;
}
#artistCredit a{color:#787878;text-decoration:underline;}

#descTypeLinks{border-bottom:1px solid #787878;display:block;width:100%;padding-bottom:5px;margin-bottom:15px;}
#descTypeLinks a{color:#717171;text-transform:uppercase;padding:5px 0;}
#descTypeLinks a.selected{color:#101010;}
#descTypeLinks #description{padding-right:10px;margin-right:10px;border-right:1px solid #787878;}
.likeProduct{float:right;margin:-8px 0 0 50px;}

#descCont p, #designCont p{color:#101010;font-size:1em;}
#designCont{display:none;}

#qtyRemaining{
	display:block;
	background-color:#ededed;
	width:230px;
	height:33px;
	float:left;
	line-height:33px;
	position:relative;
	margin-right:15px;
}
#qtyRemaining span{
    position:absolute;
    top:0;left:15px;
    z-index:10;}
#qtyRemaining p{
	line-height:33px;
	background-color:#f15831;
	height:33px;
	color:#fff;
	display:block;
	text-transform:uppercase;
	padding-left:10px;
	position:absolute;
	top:0;left:0;
	z-index:1;
	margin:0;
}
#addToCart a{
	line-height:33px;
	background-color:#f15831;
	height:33px;
	color:#fff;
	display:block;
	text-transform:uppercase;
	text-align:center;
	float:left;
	width:85px;
}

#rightSide #spreadWord{
	width:320px;margin:15px 0 25px;
	clear:both;
}

#weRecommend{margin:0px 0 25px;clear:both;}
#weRecommend h2{
	margin-bottom:15px;
	background-image:url(../_images/headers/subhead/customers-also-bought.png);
	width:215px;height:15px;
}

#weRecommend ul li{
	color:#787878;
	font-size:1.1em;
	padding-left:17px;
	background:url(../_images/icons/small-list-triangle.png) no-repeat left center;
	margin-bottom:8px;
}

#weRecommend ul li a{	color:#787878;}

#aboutProjectBlurb{
	background-color:#72cadd;
	padding:18px;
	margin-bottom:25px;
}

#aboutProjectBlurb h2{
	margin-bottom:12px;
	background-image:url(../_images/headers/subhead/about-the-project-white.png);
	width:215px;height:15px;
}

#aboutProjectBlurb p{color:#fff;margin-bottom:0;}
#aboutProjectBlurb p a{color:#fff;text-decoration:underline;}

/* ~~~~~ CART PAGE ~~~~~ */
#cartInfo{
    width:700px;
    margin-left:80px;
    overflow:hidden;
}

#cartTable{width:100%;}

#cartTable th{color:#f15831;font-size:1.1em;text-transform:uppercase;padding-bottom:3px;border-bottom:1px solid #787878;}
#qtyCell, #priceCell, #removeCell{text-align:center;}

#cartTable tbody td{
    padding:20px 0;
    border-bottom:1px solid #787878;
}
#cartTable tbody td.itemDetails img{float:left;margin-right:10px;}
#cartTable tbody td.itemDetails h3{font-size:2em;}
#cartTable tbody td.itemPrice, #cartTable tbody td.itemQty{text-align:center;font-size:1.6em;}
#cartTable tbody td.itemRemove{text-align:right;font-size:1.4em;}
#cartTable tbody td.itemRemove a{width:20px;height:20px;color:#fff;background-color:#f15831;display:block;line-height:20px;text-align:center;margin-left:35px;}

#priceDetails{width:300px;float:right;padding-right:20px;}

#priceDetails ul{font-size:1.6em;}
#priceDetails ul li{display:block;padding:10px 0;text-align:right;}
#priceDetails ul li span{font-size:.8em;color:#f15831;text-align:left;text-transform:uppercase;display:block;width:160px;padding-right:20px;float:left;}


/* ~~~~~ THANK YOU PAGE ~~~~~ */
.thankyouPg h2{font-size:2.1em;color:#595959;margin-bottom:60px;}

#howtohelp li{font-size:2.1em;display:block;margin-bottom:10px;color:#595959;}
#howtohelp li a{text-decoration:underline;color:#595959;font-weight:normal;}

#howtohelp li a.colorLink{
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    padding:4px 8px;
    font-size:.52em;
}
#howtohelp li a.colorLink#fbShare{background-color:#bed630;}
#howtohelp li a.colorLink#followUs{background-color:#f15831;}
#howtohelp li a.colorLink#becomeAFan{background-color:#17a2dc;}
#howtohelp li a.colorLink#participateClean{background-color:#004a80;}


/* ~~~~~ TYPOGRAPHY ~~~~~ */

a {text-decoration:none; color:#101010;}
a:hover {color: #004A80;}
a.selected{color:;}
h1 {font-size: ; color:  ; margin-bottom: ; font-weight:bold;}
h2 {font-size: ; color:  ; margin-bottom: ; font-weight:normal;}
h3 {font-size: ; font-weight: bold; color:  ; margin: ;font-weight:normal;}
p {font-size: 1.1em;line-height:1.5em;margin-bottom:20px;}

#spreadWord h3{color:#fff;text-transform:uppercase;font-size:1em;float:left;}

h1#artistsHeader, h1#collectionHeader, h1#about-project, h1#whatsNewHeader, h1#faq, h1#heal-the-bay, h1#get-involved, h1#thankyou, h1#yourcart,
h1#contact-us, h1#site-info,
#spreadWordHome h3, #aboutProjectBlurb h2, #weRecommend h2,
.learnMoreItem h2 a
{
	text-indent:-9999px;
	display:block;
	background-repeat:no-repeat;
}

h1#artistsHeader{background-image:url(../_images/headers/artists.png);width:98px;height:30px;}
h1#collectionHeader{background-image:url(../_images/headers/collection.png);width:143px;height:30px;}
h1#whatsNewHeader{background-image:url(../_images/headers/whats-new.png);width:152px;height:30px;}
h1#faq{background-image:url(../_images/headers/faq.png);width:46px;height:32px;}
h1#heal-the-bay{background-image:url(../_images/headers/heal-the-bay.png);width:171px;height:30px;}
h1#about-project{background-image:url(../_images/headers/about-the-project.png);width:257px;height:32px;}
h1#get-involved{background-image:url(../_images/headers/get-involved.png);width:174px;height:32px;}
h1#contact-us{background-image:url(../_images/headers/contact-us.png);width:153px;height:32px;}
h1#site-info{background-image:url(../_images/headers/site-info.png);width:118px;height:32px;}
h1#thankyou{background-image:url(../_images/headers/thank-you.png);width:406px;height:32px;}
h1#yourcart{background-image:url(../_images/headers/your-cart.png);width:139px;height:32px;}

#spreadWordHome h3{
	float:left;
	background-image:url(../_images/headers/subhead/spread-the-word.png);
	width:118px;
	height:16px;
}

#aboutProject h2 a{background-image:url(../_images/headers/subhead/about-the-project.png);width:118px;height:15px;}
#aboutArtists h2 a{background-image:url(../_images/headers/subhead/artists-designers.png);width:127px;height:15px;}
#theLatest h2 a{background-image:url(../_images/headers/subhead/the-latest.png);width:67px;height:15px;}
#whoWeAre h2 a{background-image:url(../_images/headers/subhead/who-we-are.png);width:72px;height:15px;}
h3.noResults{font-size:1.8em;}
h2#sortingByTag{margin-bottom:25px;}
h2#sortingByTag span{color:#f15831;}

/* UTILITY CLASSES */
.fl {float: left;}
.fr {float: right;}
.cl {clear: left;}
.cr {clear: right;}
.clear {clear: both;}
em{font-style:italic;}
strong{font-weight:bold;}

.transparent{  
    filter:alpha(opacity=90);  
    -moz-opacity:0.9;  
    -khtml-opacity: 0.9;  
    opacity: 0.9;  
}

.dropShadow{
	-moz-box-shadow: 0px -1px 5px #333;
	-webkit-box-shadow: 0px -1px 5px #333;
	box-shadow: 0px -1px 5px #333;
}

.roundedCorners{
	-moz-border-radius: 20px;  
	-webkit-border-radius: 20px; 
}

a[href$="pdf"]:after,
a[href$="doc"]:after {
margin:0 0 0 5px;
font:bold 12px "Lucida Grande";
content: " (PDF)";
}
a[href$=".doc"]:after {content: " (DOC)";}

.pagination{clear:both;}

/* ADD THIS STYLES */
.addthis_toolbox.addthis_default_style span{margin:10px 4px 0 0;}
.addthis_default_style .at300b, .addthis_default_style .at300m{padding:0 5px;}
#spreadWord .addthis_toolbox.addthis_default_style span{margin-top:8px;}
#spreadWord .addthis_default_style .at300b, #spreadWord .addthis_default_style .at300m{padding:0 4px;}
	