{% extends "base.html" %}
{% load markup thumbnail %}
{% block title %}{{ block.super }} | Artists | {{ artist.name }}{% endblock %}
{% block pageClass %}artists{% endblock %}

{% block body %}
<h1 id="artistsHeader">Artists</h1>

	<aside id="sidebar" class="fl">
 	<nav id="artistsNav">
     	<ul>
			{% for sidebar_artist in artist_list %}
         	 <li><a href="{{ sidebar_artist.get_absolute_url }}">{{ sidebar_artist.name }}</a></li>
            {% endfor %}
         </ul>
     </nav>
 
 </aside>

<article id="artistContent">
 	<figure id="artistPhoto"><img src="{% thumbnail artist.image 600x600 %}" alt="{{ artist.name }} Photo" /></figure>
     <h2>{{ artist.name }}</h2>
     <p>{{ artist.description }}</p>
		<p>See {{ artist.name }}&rsquo;s products: {% for product in artist.active_products.all %}<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>	
 </article>
 <aside id="aboutFooter">
 	<h3 id="seeProducts"><a href="#">See Products</a></h3>
     <h3 id="visitSite"><a href="{{ artist.website }}" target="_blank">Visit Site</a></h3>
     <figure id="spreadWord">
     	<h3>Spread the Word</h3>
         <ul class="socialLinks">
     		<li><img src="{{ MEDIA_URL }}_images/icons/facebook.png" alt="Like Buy the Bay on Facebook icon" /> <a href="#" target="_blank" rel="external" title="Like Buy the Bay on Facebook">Facebook</a></li>
         	<li><img src="{{ MEDIA_URL }}_images/icons/twitter.png" alt="Follow Buy the Bay on Twitter icon" /> <a href="#" target="_blank" rel="external" title="Follow Buy the Bay on Twitter">Twitter</a></li>
         	<li><img src="{{ MEDIA_URL }}_images/icons/email.png" alt="Email your friends about us icon" /> <a href="#" target="_blank" rel="external" title="Share Buy the Bay via Email">Email</a></li>
     	</ul>
     </figure>
 </aside>

{% endblock %}
