{% extends "base.html" %}
{% load markup thumbnail selected %}
{% block title %}{{ block.super }} | Artists | {{ artist.name }}{% endblock %}
{% block pageClass %}artists{% endblock %}

{% block body %}
<h1 id="artistsHeader">Artists</h1>

	<aside id="sidebar" class="fl">
 	<nav id="artistsNav">
     	<ul>
			{% for sidebar_artist in artist_list %}
         	 <li><a href="{{ sidebar_artist.get_absolute_url }}" class="">{{ sidebar_artist.name }}</a></li>
            {% endfor %}
         </ul>
     </nav>
 
 </aside>

<article id="artistContent">
 	<figure id="artistPhoto"><img src="{% thumbnail artist.image 600x600 %}" alt="{{ artist.name }} Photo" /></figure>
     <h2>{{ artist.name }}</h2>
     <p>{{ artist.description }}</p>
		<p>See {{ artist.name }}&rsquo;s products: {% for product in artist.active_products.all %}<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>	
 </article>
 <aside id="aboutFooter">
 	<h3 id="seeProducts"><a href="{% if artist.product_set.count > 1 %}
	    {% url products.views.index %}?filter={{ artist.slug }}
	  {% else %}
	    {{ artist.product_set.all.0.get_absolute_url }}
	  {% endif %}">See Products</a></h3>
     <h3 id="visitSite"><a href="{{ artist.website }}" target="_blank">Visit Site</a></h3>
     <figure id="spreadWord">
     	<h3>Spread the Word</h3>
         	<!-- AddThis Button BEGIN -->
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	        <ul class="socialLinks addthis_toolbox addthis_default_style">
	        	<li><a class="addthis_button_facebook">Facebook</a></li>
	            <li><a class="addthis_button_twitter">Twitter</a></li>
	            <li><a class="addthis_button_email">Email</a></li>
				<!--<li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact"></a></li>-->
	        </ul>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
			<!-- AddThis Button END -->
     </figure>
	<p class="disclaimer clear">Everything you see on this site — product creations, designs, packaging, photography and writing are all donations to Heal the Bay. If you're an artist, illustrator, designer, photographer or writer—and you're interested in donating your talents to help preserve something priceless about the beach, please contact us at <a href="mailto:help@buythebay.org">help@buythebay.org</a>. Please include a sample of your work, too!</p>
 </aside>

{% endblock %}
