{% extends "base.html" %}
{% load markup thumbnail selected %}
{% block title %}{{ artist.name }} | Artists | {{ block.super }}{% endblock %}
{% block pageClass %}artists{% endblock %}
{% block metadesc %}{{ artist.description|slice:":155"  }}{% endblock %}
{% block fbdesc %}{{ artist.description }}{% endblock %}
{% block body %}
<h1 id="artistsHeader">Artists</h1>

	<aside id="sidebar" class="fl">
 	<nav id="artistsNav">
     	<ul>
			{% for sidebar_artist in artist_list %}
         	 <li><a href="{{ sidebar_artist.get_absolute_url }}" class="{% selected artists.views.artist artist_slug=sidebar_artist.slug %}">{{ sidebar_artist.name }}</a></li>
            {% endfor %}
         </ul>
     </nav>
 
 </aside>

<article id="artistContent">
 	{% if artist.image %}<figure id="artistPhoto"><img src="{% thumbnail artist.image 600x600 %}" alt="{{ artist.name }} Photo" /></figure>{% endif %}
     <h2>{{ artist.name }}</h2>
     <p>{{ artist.description|textile }}</p>
	{% if artist.active_products.all %}<p>See {{ artist.name }}&rsquo;s products: {% for product in artist.active_products.all %}<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}	
 </article>
 <aside id="aboutFooter">
 	
     <figure id="spreadWord">
     	<h3>Share This!</h3>
         	<!-- AddThis Button BEGIN -->
			
	        <ul class="socialLinks addthis_toolbox addthis_default_style">
	        	<li><a class="addthis_button_facebook">Facebook</a></li>
	            <li><a class="addthis_button_twitter">Twitter</a></li>
				<li><a class="addthis_button_digg">Digg</a></li>
	            <li><a class="addthis_button_email">Email</a></li>
				<li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact">Share</a></li>
	        </ul>
			
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
			<!-- AddThis Button END -->
     </figure>
 </aside>

{% endblock %}
