{% extends "base.html" %}
{% load markup thumbnail %}
{% block title %}{{ block.super }} | Artists{% endblock %}
{% block pageClass %}artists{% endblock %}

{% block body %}
 <h1 id="artistsHeader">Artists</h1>

	<aside id="sidebar" class="fl">
 	<nav id="artistsNav">
     	<ul>
			{% for artist in artists %}
         	 <li><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a></li>
            {% endfor %}
         </ul>
     </nav>
 
 </aside>

<article id="artistContent">
 	<!--<figure id="artistPhoto"><img src="{{ MEDIA_URL }}_images/photos/artists-landing-top.jpg" alt="Artist Home Photo" /></figure>-->
   	<p>Everything you see on this site — product creations, designs, packaging, photography, writing — is a donation of time to Heal the Bay. If you&rsquo;re an artist, illustrator, designer, photographer or writer, and you're interested in using your talents to help preserve something priceless about the beach, please contact us at <a href="mailto:help@buythebay.org" rel="nofollow">help@buythebay.org</a></p>	

     <p>We would like to thank all of our unbelievably creative friends who have been such an inspiration in bringing these products to life.</p>

	<p>Click any name to the left to learn more about each.</p> 

	
 </article>
 <footer id="aboutFooter">
     <!--<figure id="spreadWord">
     	<h3>Spread the Word</h3>
         <ul class="socialLinks">
     		<li><img src="{{ MEDIA_URL }}_images/icons/facebook.png" alt="Like Buy the Bay on Facebook icon" /> <a href="#" target="_blank" rel="external" title="Like Buy the Bay on Facebook">Facebook</a></li>
         	<li><img src="{{ MEDIA_URL }}_images/icons/twitter.png" alt="Follow Buy the Bay on Twitter icon" /> <a href="#" target="_blank" rel="external" title="Follow Buy the Bay on Twitter">Twitter</a></li>
         	<li><img src="{{ MEDIA_URL }}_images/icons/email.png" alt="Email your friends about us icon" /> <a href="#" target="_blank" rel="external" title="Share Buy the Bay via Email">Email</a></li>
     	</ul>
     </figure>-->
 </footer>
{% endblock %}
