{% extends "base.html" %}
{% load params markup thumbnail %}

{% block title %}Collection | {{ block.super }}{% endblock %}
{% block pageClass %}collection{% endblock %}
{% block body %}
  	<h1 id="collectionHeader">Collection</h1>

	<aside id="sidebar" class="fl">
     	<ul id="filterByStatus">
            <li><a href="{% params filter="all" %}" class="{% if request.GET.filter == "all" or "filter" not in request.GET %}selected{% endif %}">All Products</a></li>
            <li><a href="{% params filter="for_sale" %}" class="{% if request.GET.filter == "for_sale" %}selected{% endif %}">For Sale</a></li>
            <li><a href="{% params filter="coming_soon" %}" class="{% if request.GET.filter == "coming_soon" %}selected{% endif %}">Coming Soon</a></li>
            <li><a href="{% params filter="archived" %}" class="{% if request.GET.filter == "archived" %}selected{% endif %}">Archived</a></li>
        </ul>
        
        <ul id="sortBy">
        	<li>Sort:</li>
        	<li><a href="{% params sort="name" dir="up","down" %}" class="{% if request.GET.sort == "name" %}{% if request.GET.dir == "up" %}up{% endif %}{% if request.GET.dir == "down" %}down{% endif %}{% endif %}">By Name</a></li>
        	<li><a href="{% params sort="price" dir="up","down" %}" class="{% if request.GET.sort == "price" %}{% if request.GET.dir == "up" %}up{% endif %}{% if request.GET.dir == "down" %}down{% endif %}{% endif %}">By Price</a></li>
            <li><a href="{% params sort="date" dir="up","down" %}" class="{% if request.GET.sort == "date" %}{% if request.GET.dir == "up" %}up{% endif %}{% if request.GET.dir == "down" %}down{% endif %}{% endif %}">By Date Posted</a></li>
        </ul>
        
		<span class="listHeader" style="display:none;">Tags:</span>
    	<ul id="tags">
			
    	  {% for tag in product_tags %}
      	  <li><a href="{% url products.views.tag tag_slug=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}</li>
    	  {% endfor %}
        </ul>
		
    </aside>
    
    <section id="collectionContent">
    	{% for product in products %}
        <article class="product {% cycle '' 'two' %}">
        	{% if product.status == 2 %}
			<a href="{{ product.get_absolute_url }}" class="productPhoto"><img src="{% thumbnail product.main_image_1 299x199 crop %}" class="startPhoto" alt="{{ product.name }}"><img src="{% thumbnail product.main_image_2 299x199 crop %}" class="overPhoto" alt="{{ product.name }}"></a>
            <h2 class="productTitle"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
			{% else %}
			{% if product.status == 1 %}
				<img src="{{ MEDIA_URL }}_images/coming_soon.png" class="productComingSoon" alt="Product is Coming Soon">
	            <h2 class="productTitle">{{ product.name }}</h2>
			{% else %}
			{% if product.status == 3 %}
				<a href="{{ product.get_absolute_url }}" class="productSoldOut">
					<img src="{{ MEDIA_URL }}_images/sold_out.png" alt="Product is Sold Out">
				</a>
	            <h2 class="productTitle"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
	
			{% endif %}{% endif %}{% endif %}
            <p class="productArtist">design by {% for artist in product.active_artists.all %}<a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% endfor %}</p>
			<figure class="likeItem"><fb:like href="{{ request.get_host|iriencode }}{{ product.get_absolute_url }}" layout="button_count" show_faces="false" width="30" action="like"></fb:like></figure>
        </article>

{% empty %}
<h3 class="noResults">Oh no! There are no products. Try a different filter!</h3>
{% endfor %}

        
     </section>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".productPhoto").hover(
		  function() {  $(this).children(".overPhoto").fadeIn(); },
		  function() {  $(this).children(".overPhoto").fadeOut();  }
		);
		$(".listHeader").click(
			 function() {$("#tags").slideToggle('100', function() {
			    // Animation complete.
			  }); }
		);
	});
	</script>
{% endblock %}
