{% extends "base.html" %}
{% load params %}

{% block title %}Collection | {{ block.super }}{% endblock %}
{% block pageClass %}collection{% endblock %}
{% block body %}
  	<h1 id="collectionHeader">Collection</h1>

	<aside id="sidebar" class="fl">
     	<ul id="filterByStatus">
            <li><a href="{% params filter="all" %}" class="selected">All Products</a></li>
            <li><a href="{% params filter="for_sale" %}">For Sale</a></li>
            <li><a href="{% params filter="coming_soon" %}">Coming Soon</a></li>
            <li><a href="{% params filter="archived" %}">Archived</a></li>
        </ul>
        
        <ul id="sortBy">
        	<li>Sort:</li>
        	<li><a href="{% params sort="name" dir="up","down" %}">By Name</a></li>
        	<li><a href="{% params sort="price" dir="up","down" %}">By Price</a></li>
            <li><a href="{% params sort="date" dir="up","down" %}">By Date Posted</a></li>
        </ul>
        
    	<ul id="tags">
    	  {% for tag in tags %}
      	  <li><a href="{% url products.views.tag tag_slug=tag.slug %}">{{ tag.name }}</a></li>
    	  {% endfor %}
        	<li class="listHeader">Tags:</li>
            <li><a href="#" class="selected">Poster,</a></li>
            <li><a href="#">Package,</a></li>
            <li><a href="#">Product,</a></li>
            <li><a href="#">Summer,</a></li>
            <li><a href="#">Sunshine,</a></li>
            <li><a href="#">Blue,</a></li>
            <li><a href="#">Wave,</a></li>
            <li><a href="#">Water,</a></li>
            <li><a href="#">Sky,</a></li>
            <li><a href="#">Gift,</a></li>
            <li><a href="#">Music,</a></li>
        </ul>
    </aside>
    
    <section id="collectionContent">
    	
        <article class="product">
        	<a href="{{ product.get_absolute_url }}" class="productPhoto"><img src="_images/photos/collections/1_1.jpg" alt="{{ product.name }}"></a>
            <h2 class="productTitle"><a href="#">{{ product.name }}</a></h2>
            <p class="productArtist">design by <a href="#">Henri Lucas</a></p>
        </article>
        <article class="product two">
        	<a href="#" class="productPhoto"><img src="_images/photos/collections/1_1.jpg" alt="Summer Beach Concert w/ Jack Johnson"></a>
            <h2 class="productTitle"><a href="#">An Afternoon of Sunshine</a></h2>
            <p class="productArtist">design by <a href="#">Gail Swanland</a> + <a href="#">Brian Roettinger</a></p>
        </article>
        
     </section>
{% endblock %}
