{% extends "base.html" %}
{% load markup thumbnail %}
{% load humanize %}

{% block title %}{{ block.super }} | Collection | {{ product.name }}{% endblock %}

{% block pageClass %}detail{% endblock %}

{% block body %}


	<section id="leftSide">
    	<nav id="switchProducts">
        	<ul>
            	{% if product.get_previous.get_absolute_url %}<li class="prevNavItem"><a href="{{ product.get_previous.get_absolute_url }}">Previous Item</a></li>{% endif %}
                {% if product.get_next.get_absolute_url %}<li class="nextNavItem"><a href="{{ product.get_next.get_absolute_url }}">Next Item</a></li>{% endif %}
            </ul>
        </nav>
        <article id="mediaViewer">
        	<div id="mainImage">
            	<img src="{{ MEDIA_URL }}_images/photos/product/1/main-1.jpg" alt="Main Image 1" />
            </div>
            <span>Other views</span>
            <ul id="mediaCarousel">
            	<li><a href="#"><img src="{{ MEDIA_URL }}_images/photos/product/1/thumb-1.jpg" alt="1" /></a></li>
                <li><a href="#"><img src="{{ MEDIA_URL }}_images/photos/product/1/thumb-2.jpg" alt="1" /></a></li>
                <li><a href="#"><img src="{{ MEDIA_URL }}_images/photos/product/1/thumb-3.jpg" alt="1" /></a></li>
                <li><a href="#"><img src="{{ MEDIA_URL }}_images/photos/product/1/thumb-4.jpg" alt="1" /></a></li>
                <li><a href="#"><img src="{{ MEDIA_URL }}_images/photos/product/1/thumb-5.jpg" alt="1" /></a></li>
                <li><a href="#"><img src="{{ MEDIA_URL }}_images/photos/product/1/thumb-6.jpg" alt="1" /></a></li>
            </ul>
        </article>
        
        <section id="commentsContainer">
        	<header id="commentHeader">
            	<h2>Comments (50)</h2>
            	<a href="#" id="addComment">Add a Comment</a>
            </header>
            <article class="comment">
            	<p>This is so cool I cannot stand it</p>
                <address class="authorMeta">
                 	 <img src="{{ MEDIA_URL }}_images/blog/gravatar_placehold.png" alt="Mitch Gravatar" class="fr" />
                     <span class="author"><a href="#" rel="external" target="_blank">Mitch Anthony</a></span>
                     <span class="timeOfComment">2 hours ago</span>
                    
                </address>
            </article>
            
            <article class="comment">
            	<p>This is so cool I cannot stand it</p>
                <address class="authorMeta">
                 	 <img src="{{ MEDIA_URL }}_images/blog/gravatar_placehold.png" alt="Mitch Gravatar" class="fr" />
                     <span class="author"><a href="#" rel="external" target="_blank">Mitch Anthony</a></span>
                     <span class="timeOfComment">2 hours ago</span>
                    
                </address>
            </article>
            
        </section>
    </section>
    
    <section id="rightSide">
    	<header id="productHeader">
    		<h1><img src="{% thumbnail product.name_image 280x199 crop %}" alt="{{ product.name }}" /></h1>
        	<span id="productPrice">${{ product.price|intcomma }}</span>
        	<h3 id="artistCredit">design by {% for artist in product.active_artists.all %}
		      <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>
		      {% if not forloop.last %},{% endif %}
		    {% endfor %}</h3>
        </header>
        
        <article id="productDetails">
        	<div id="descTypeLinks">
            	<a href="#" id="description" class="selected">Description</a>
                <a href="#" id="design">Design</a>
            </div>
            <div id="descCont">
            	<p>{{ product.description }}</p>
            </div>
			<div id="designCont">
            	<p>{{ product.design }}</p>
            </div>
        </article>
        
        <figure id="qtyRemaining">
			<span>Edition {{ product.order_set.count }}/{{ product.max_quantity }}</span>
        	<p style="width:{% widthratio product.order_set.count product.max_quantity 100 %}%;"></p>
        </figure>
        
        <span id="addToCart"><a href="{% url orders.views.add product_slug=product.slug %}" title="Add Message in a Bottle to your Cart">Add to Cart</a></span>
         <figure id="spreadWord">
        	<h3>Spread!</h3>
            	<!-- AddThis Button BEGIN -->
				<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
		        <ul class="socialLinks addthis_toolbox addthis_default_style">
		        	<li><a class="addthis_button_facebook">Facebook</a></li>
		            <li><a class="addthis_button_twitter">Twitter</a></li>
		            <li><a class="addthis_button_email">Email</a></li>
					<!--<li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact"></a></li>-->
		        </ul>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
				<!-- AddThis Button END -->
        </figure>
        
        <aside id="weRecommend">
			{% if product.related_info_1 %}
        	<h2>Customers who bought this also:</h2>
            <ul>
            	{% if product.related_info_1 %}<li>{{ product.related_info_1 }}</li>{% endif %}
				{% if product.related_info_2 %}<li>{{ product.related_info_2 }}</li>{% endif %}
				{% if product.related_info_3 %}<li>{{ product.related_info_3 }}</li>{% endif %}
            </ul>
			{% endif %}
        </aside>
        
        <aside id="aboutProjectBlurb">
        	<h2>About the Project</h2>
            <p>To buy the bay is to help preserve the things we love most about the beach. the proceeds raised through each donation will help benefit heal the bay&rsquo;s efforts to keep L.A.&rsquo;s beaches clean, healthy and safe to enjoy. <a href="{% url flatcontent.views.page page_slug="about-project" %}">Read On</a></p>
        </aside>
    </section>


{% endblock %}
