{% extends "base.html" %}
{% load markup thumbnail %}
{% load humanize %}

{% block title %}{{ product.name }} | Collection | {{ block.super }}{% endblock %}
{% block fbtitle %}{{ product.name }} on {{ block.super }}{% endblock %}
{% block metadesc %}{{ product.description|slice:":155"  }}{% endblock %}
{% block fbdesc %}{{ product.description|slice:":155"  }}{% endblock %}

{% block pageClass %}detail{% endblock %}

{% block body %}
  <div id="fb-root"></div>
  <script>
    window.FBComments = {};
    window.FBComments.login = function(response) {
      FB.api('/me', function(response) {
        if (response.error) {
          alert('Sorry, we are having trouble talking to Facebook right now.');
          return;
        }

        // Fill in the hidden comment form details
        $('#id_facebook_id').val(response.id);
        $('#id_name').val(response.name);
        $('#id_thumb_url').val('http://graph.facebook.com/' + response.id + '/picture');

        // Display the user's info as it will appear
        $('#commentUser img').attr('src', 'http://graph.facebook.com/' + response.id + '/picture');
        $('#commentUser span').text(response.name);

        // Hide the login message and show the comment form
        $('#loggedIn').show();
        $('#loggedOut').hide();
      });
    };
    window.FBComments.logout = function(response) {
      // Erase the hidden comment form details
      $('#id_facebook_id, #id_name, #id_thumb_url').val('');

      // Erase the user's info from the preview
      $('#commentUser img').attr('src', '');
      $('#commentUser span').text('');

      // Show the login message and hide the comment form
      $('#loggedIn').hide();
      $('#loggedOut').show();
    };

    window.fbAsyncInit = function() {
      FB.init({
        appId: '{{ settings.FACEBOOK_APP_ID }}',
        status: true,
        cookie: true,
        xfbml: true
      });

      FB.Event.subscribe('auth.login', window.FBComments.login);
      FB.Event.subscribe('auth.logout', window.FBComments.logout);
      FB.getLoginStatus(function(response) {
        if (response.session) {
          window.FBComments.login(response);
        }
        else {
          window.FBComments.logout(response);
        }
      });
    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>

	<section id="leftSide">
    	<nav id="switchProducts">
        	<ul>
            	{% if product.get_previous.get_absolute_url %}<li class="prevNavItem"><a href="{{ product.get_previous.get_absolute_url }}">Previous Item</a></li>{% endif %}
                {% if product.get_next.get_absolute_url %}<li class="nextNavItem"><a href="{{ product.get_next.get_absolute_url }}">Next Item</a></li>{% endif %}
            </ul>
        </nav>
        <article id="mediaViewer">
        	<!--<div id="mainImage">
            	<img src="{{ MEDIA_URL }}_images/photos/product/1/main-1.jpg" alt="Main Image 1" />
            </div>
            <span>Other views</span>-->
			{% if product.gallery_media.active.all.0.get_media %}
            <ul id="mediaCarousel">
				{% for media in product.gallery_media.active.all %}
				{% if media.image %}
			      <li><img src="{% thumbnail media.image 576x327 %}" alt="{{ product.name}}" /></li>
				{% endif %}
				{% if media.video %}
				
				{% endif %}
			    {% endfor %}
            </ul>
			{% endif %}
        </article>

        <section id="commentsContainer">
        	<header id="commentHeader">
          	<h2>Comments ({{ comments|length }})</h2>
			<a href="#commentForm" id="addComment">Add a Comment</a>
          </header>
		<section id="commentForm">
            <h2>Add a Comment</h2>
            <div id="loggedOut">
              <p>Before you can comment, we need to get your name from Facebook.</p>
            </div>
            <fb:login-button autologoutlink="true"></fb:login-button>
            <div id="loggedIn">
              <div id="commentUser">
                <img src="" />
                <span></span>
              </div>
              <form method="POST" action="{% url products.views.product product_slug=product.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <p><input type="submit" value="Submit Comment" /></p>
              </form>
            </div>
          </section>
          {% for comment in comments %}
            <article class="comment">
            	<p>{{ comment.comment }}</p>
              <address class="authorMeta">
                <img src="{{ comment.thumb_url }}" alt="Mugshot" class="fr" />
                <span class="author">{{ comment.name }}</span>
                <span class="timeOfComment">{{ comment.created_ts|timesince }} ago</span>
              </address>
            </article>
          {% endfor %}
          
        </section>
    </section>

    <section id="rightSide">
    	<header id="productHeader">
    		<h1>{% if product.name_image %}<img src="{% thumbnail product.name_image 280x199 crop %}" alt="{{ product.name }}" />{% else %}{{ product.name }}{% endif %}</h1>
        	<span id="productPrice">${{ product.price|floatformat:0 }}</span>
        	<h3 id="artistCredit">> design by {% for artist in product.active_artists.all %}
		      <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>
		      {% if not forloop.last %},{% endif %}
		    {% endfor %}</h3>
        </header>
        
        <article id="productDetails">
        	<div id="descTypeLinks">
            	<a href="#" id="description" class="selected">Description</a>
                <a href="#" id="design">Design</a>
				<figure class="likeProduct"><fb:like href="{{ request.get_host|iriencode }}{{ request.path_info|iriencode }}" layout="button_count" show_faces="false" width="30" action="like"></fb:like></figure>
            </div>
            <div id="descCont">
            	<p>{{ product.description|textile }}</p>
            </div>
			<div id="designCont">
            	<p>{{ product.design|textile }}</p>
            </div>
        </article>
        
        <figure id="qtyRemaining" class="">
			<span class="{% if ratio > 0.5 %}greaterThan{% else %}lessThan{% endif %}">{{ product.current_quantity }}/{{ product.max_quantity }} remaining</span>
        	<p style="width:{% widthratio product.current_quantity product.max_quantity 100 %}%;"></p>
        </figure>

        <span id="addToCart">
          {% if product.status == product.FOR_SALE %}
            {% if product.current_quantity >= product.max_quantity %}
              <span class="button">Sold Out</span>
            {% else %}
              {% if product.can_be_purchased %}
                <a class="button" href="{% url orders.views.add product_slug=product.slug %}" title="Add Message in a Bottle to your Cart">Add to Cart</a>
              {% else %}
                <span class="button">Unavailable</span>
              {% endif %}
            {% endif %}
          {% else %}
            <span class="button">
              {% if product.status == product.COMING_SOON %}Coming Soon{% endif %}
              {% if product.status == product.ARCHIVED %}Archived{% endif %}
            </span>
          {% endif %}
        </span>
         <figure id="spreadWord">
        	<h3>Share this!</h3>
            	<!-- AddThis Button BEGIN -->
				
		        <ul class="socialLinks addthis_toolbox addthis_default_style">
		        	<li><a class="addthis_button_facebook">Facebook</a></li>
		            <li><a class="addthis_button_twitter">Twitter</a></li>
		            <li><a class="addthis_button_email">Email</a></li>
					<!--<li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact"></a></li>-->
		        </ul>
				<script type="text/javascript">

				   var addthis_config = {
					  data_track_clickback:true,
				      data_ga_tracker: pageTracker
				   };
				</script>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
				<!-- AddThis Button END -->
        </figure>
        
        <aside id="weRecommend">
			{% if product.related_info_1 %}
        	<h2>Customers who bought this also:</h2>
            <ul>
            	{% if product.related_info_1 %}<li>{{ product.related_info_1 }}</li>{% endif %}
				{% if product.related_info_2 %}<li>{{ product.related_info_2 }}</li>{% endif %}
				{% if product.related_info_3 %}<li>{{ product.related_info_3 }}</li>{% endif %}
            </ul>
			{% endif %}
        </aside>
        
        <aside id="aboutProjectBlurb">
        	<h2>About the Project</h2>
            <p>To Buy the Bay is to help preserve the things we love most about the beach. The proceeds raised through each donation will help benefit Heal The Bay&rsquo;s efforts in keeping L.A.&rsquo;s beaches clean, healthy and safe to enjoy. <a href="{% url flatcontent.views.page page_slug="about-project" %}">Read On</a></p>
        </aside>
    </section>

	<script type="text/javascript">
		$(document).ready(function() {
			$("a#design").click(
				 function() {$("#descCont").hide(); $("#designCont").show(); $("#design").addClass('selected'); $("#description").removeClass('selected');}
			);
			$("a#description").click(
				 function() {$("#descCont").show();$("#designCont").hide(); $("#design").removeClass('selected'); $("#description").addClass('selected');}
			);
		});

	</script>
	<script type="text/javascript" src="{{ MEDIA_URL }}_js/jquery.pikachoose.4.0.2.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}_js/jquery.jcarousel.min.js"></script>
	<script language="javascript">
		<!--
		$(document).ready(
			function (){
				$("#mediaCarousel").PikaChoose({showCaptions:false});

				$("#mediaCarousel").jcarousel({scroll:4,					
					initCallback: function(carousel) 
					{
				        $(carousel.list).find('img').click(function() {
				        	//console.log($(this).parents('.jcarousel-item').attr('jcarouselindex'));
				            carousel.scroll(parseInt($(this).parents('.jcarousel-item').attr('jcarouselindex')));
				        });
				    }
			    });
				$("#commentForm").hide();
				$("#addComment").click(
					 function() {
							$("#commentForm").slideToggle()
						});
			});

		-->
	</script>

{% endblock %}
