{% extends "blog/base.html" %}
{% load markup thumbnail %}

{% block pageClass %}news{% endblock %}

{% block blog_body %}
  <h1 id="whatsNewHeader">What&rsquo; New</h1>

	<aside id="sidebar" class="fl">
   	
  	<ul id="categories">
  	  {% for tag in blog_tags %}
  	    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
  	  {% endfor %}
    </ul>
  </aside>
  <aside id="tweetTweet">
  	<a href="#" target="_blank" rel="external" title="Follow buythebay on Twitter" id="followLink">Follow @buythebay</a>
      <p>Thanks <a href="#" target="_blank">@swissmiss</a> for the generous post! <a href="#" target="_blank">http://bit.ly/2U5TJD</a> <span>4 hours ago</span></p>
  </aside>

	<section id="newsContent">
	{% for post in page.object_list %}
  	<article class="post">
   		<header class="postHeader">
          	<h2 class="postTitle"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
         		<span class="meta">by {{ post.byline }} {{ post.pub_date|date:"j M Y \a\t P" }}</span>
           </header>
          {% if post.tease %}
          {{ post.tease|textile }}
          {% else %}
          	{{ post.body|textile|truncatewords_html:50 }}
          {% endif %}
         <img src="{% thumbnail post.gallery_media.active.all.0.get_media 600x600 %}" alt="{{ post.title }}" />
      </article>
      {% endfor %}
 </section>

  {% include "_pagination.html" %}
{% endblock %}
