{% extends "blog/base.html" %}
{% load markup thumbnail %}

{% block pageClass %}news{% endblock %}

{% block blog_body %}
  <script src="http://platform.twitter.com/anywhere.js?id={{ settings.TWITTER_API_KEY }}&v=1" type="text/javascript"></script>

  <h1 id="whatsNewHeader">What&rsquo; New</h1>

	<aside id="sidebar" class="fl">
   	
  	<ul id="categories" style="display:none;">
  	  {% for tag in blog_tags %}
  	    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
  	  {% endfor %}
    </ul>
  </aside>
  <aside id="tweetTweet">
    <a><a href="http://www.twitter.com/buythebay" target="_blank" id="followLink" title="Follow Buy The Bay on Twitter for the latest updates">Follow @buythebay on twitter</a>
  	<p id="latestTweet">Loading latest tweet...</p>
  </aside>

	<section id="newsContent">
	{% for post in page.object_list %}
  	<article class="post">
   		<header class="postHeader">
          	<h2 class="postTitle"><a href="{{ post.get_absolute_url }}" title="Read about {{ post.title }}">{{ post.title }}</a></h2>
         		<span class="meta">by {{ post.byline }} on {{ post.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
           </header>
          {% if post.tease %}
          {{ post.tease|textile }}
          {% else %}
          	{{ post.body|textile|truncatewords_html:50 }}
          {% endif %}
		{% if post.gallery_media.active.all.0.get_media %}
		{% if post.gallery_media.active.all.0.image %}
	       <a href="{{ post.get_absolute_url }}" title="Read about {{ post.title }}"> <img src="{% thumbnail post.gallery_media.active.all.0.get_media 600x600 %}" alt="{{ post.title }}" /></a>
		{% endif %}
		{% if post.gallery_media.active.all.0.video %}
		{% endif %}
       
		{% endif %}
      </article>
      {% endfor %}

	  {% include "_pagination.html" %}
 </section>

  <script type="text/javascript">
    $(function() {
      // Add the follow button
      /*twttr.anywhere(function(T) {
        T('#followLink').followButton('{{ settings.TWITTER_USERNAME }}');
      });*/

      // Load the latest tweet
      $.getJSON('http://twitter.com/statuses/user_timeline/{{ settings.TWITTER_USERNAME }}.json?callback=?&count=1', function(data, textStatus) {
        if (data.length < 1) {
          $('#latestTweet').text('Unable to load tweet.');
          return;
        }

        // Pull the text and date from the tweet
        var tweetText = data[0].text;
        var tweetCreated = new Date(data[0].created_at);

        // Calculate the time since the tweet
        var now = new Date();
        var timeSince = now.getTime() - tweetCreated.getTime();
        var daysSince = Math.floor(timeSince / (1000 * 60 * 60 * 24));
        timeSince -= daysSince * 1000 * 60 * 60 * 24;
        var hoursSince = Math.floor(timeSince / (1000 * 60 * 60));
        timeSince -= hoursSince * 1000 * 60 * 60;
        var minutesSince = Math.floor(timeSince / (1000 * 60));
        if (daysSince > 2) {
          var timeSinceText = daysSince + ' days ago';
        }
        else if (daysSince) {
          var timeSinceText = daysSince + ' days, ' + hoursSince + ' hours ago';
        }
        else if (hoursSince) {
          var timeSinceText = hoursSince + ' hours, ' + minutesSince + ' minutes ago';
        }
        else {
          var timeSinceText = minutesSince + ' minutes ago';
        }

        // Update the page with the tweet
        $('#latestTweet')
          .empty()
          .text(tweetText)
          .append('<span>' + timeSinceText + '</span>');

        // Enable Twitter @Anywhere
        twttr.anywhere(function(T) {
          T('#latestTweet').hovercards();
        });
      });
    });
  </script>

{% endblock %}
