{% extends "blog/base.html" %}
{% load markup thumbnail %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block metadesc %}{{ post.body|slice:":155" }}{% endblock %}
{% block pageClass %}news{% endblock %}

{% block blog_body %}
<h1 id="whatsNewHeader">What&rsquo; New</h1>

	<aside id="sidebar" class="fl">
   	
  		<ul id="categories" style="display:none;">
	  	  {% for tag in blog_tags %}
	  	    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
	  	  {% endfor %}
	    </ul>
  </aside>

<section id="newsContent" class="single">
<article class="post">
	<header class="postHeader">
      	<h2 class="postTitle"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
     		<span class="meta">by {{ post.byline }} on {{ post.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
       </header>
  {{ post.body|textile }}
  
	{% if post.gallery_media.active.all.0.get_media %}
	<ul>
    {% for media in post.gallery_media.active.all %}
	{% if media.image %}
      <li><img src="{% thumbnail media.image 600x600 %}" alt="{{ post.title}}" /></li>
	{% endif %}
	{% if media.video %}
	
	{% endif %}
    {% endfor %}
	</ul>
	{% endif %}
  
  <p>Categories:
    {% for tag in post.tags.all %}
      <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
      {% if not forloop.last %}/{% endif %}
    {% endfor %}
  </p>
	<figure id="spreadWord">
   	<h3>Share This!</h3>
       	<!-- AddThis Button BEGIN -->
		
	        <ul class="socialLinks addthis_toolbox addthis_default_style">
	        	<li><a class="addthis_button_facebook">Facebook</a></li>
	            <li><a class="addthis_button_twitter">Twitter</a></li>
				<li><a class="addthis_button_digg">Digg</a></li>
	            <li><a class="addthis_button_email">Email</a></li>
				<li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact">Share</a></li>
	        </ul>
		
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
			<!-- AddThis Button END -->
   </figure>
</article>

</section>
{% endblock %}