{% extends "blog/base.html" %}
{% load markup thumbnail %}

{% block title %}{{ block.super }} | {{ tag.name }}{% endblock %}

{% block pageClass %}news{% endblock %}

{% block blog_body %}
<h1 id="whatsNewHeader">What&rsquo; New</h1>

	<aside id="sidebar" class="fl">
 	
	<ul id="categories" style="display:none;">
	  {% for tag in blog_tags %}
	    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
	  {% endfor %}
  </ul>
</aside>

 <section id="newsContent">
  <h2 id="catName">Category: {{ tag.name }}</h2>
	{% for post in page.object_list %}
	<article class="post">
 		<header class="postHeader">
        	<h2 class="postTitle"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
       		<span class="meta">by {{ post.byline }} on {{ post.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
         </header>
        {% if post.tease %}
        {{ post.tease|textile }}
        {% else %}
        	{{ post.body|textile|truncatewords_html:50 }}
        {% endif %}
        <img src="{% thumbnail post.gallery_media.active.all.0.get_media 600x600 %}" alt="{{ post.title }}" />
    </article>
    {% endfor %} 
</section>
  {% include "_pagination.html" %}
{% endblock %}