{% load flat %}
  
<article id="firstTime">
	<div id="closeBtn">X</div>
	<div id="firstCarat">Our Mission</div>
  	{% blurb "new_user" %} <!--<a href="{% url flatcontent.views.page page_slug="about-project" %}">Learn more</a>-->
  </article>

<script type="text/javascript">
	$(document).ready(function() {
		
		{% if request.session.new_user %}$("#firstTime p").delay(1000).slideDown();$("#closeBtn").show();
		{% else %}$("#firstCarat").show();
		{% endif %}
		$("#closeBtn").click(
	  		function() { $(this).hide();$("#firstCarat").show();$("#firstTime p").slideUp();
		});
		$("#firstCarat").click(
		  		function() { $(this).hide();$("#closeBtn").show();$("#firstTime p").slideDown();
		});
	});

</script>