{% extends "base.html" %}
{% load thumbnail %}

{% block pageClass %}home{% endblock %}

{% block body %}

	<article id="featuredSection">
		<div id="featContainer">
		<ul id="featuredContent">
			 {% for feature in features %}
			<li>  
				<a href="{{ feature.get_destination_url }}">
		          <img src="{% thumbnail feature.image_before 940x395 crop %}" class="featOn" />
		          <img src="{% thumbnail feature.image_after 940x395 crop %}" class="featOver"  />
		        </a>
		     </li>
		    {% endfor %}
		</ul>
		<div id="viewCollection"><a href="{% url products.views.index %}">View Collection</a></div>
    	<!--<ol id="featControls">
        	<li class="viewCollection"><a href="{% url products.views.index %}">View Collection</a></li>
        	<li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ol>-->
		</div>
    </article>
    
    <aside id="spreadWordHome">
    	<h3>Spread the Word</h3>
        <p>Help us get the message out on <a href="http://www.facebook.com/healthebayfans" target="_blank" rel="external" title="Like Buy the Bay on Facebook">Facebook</a>, <a href="http://twitter.com/buythebay" target="_blank" rel="external" title="Follow Buy the Bay on Twitter">Twitter</a>— Something you can do that costs nothing.</p>
<!-- AddThis Button BEGIN -->
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
        <ul class="socialLinks addthis_toolbox addthis_default_style">
        	<li><a class="addthis_button_facebook">Facebook</a></li>
            <li><a class="addthis_button_twitter">Twitter</a></li>
            <li><a class="addthis_button_email">Email</a></li>
			<li class="last"><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact"></a></li>
        </ul>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
			<!-- AddThis Button END -->
    </aside>
    
    <section id="learnMore">
    	<article id="aboutProject" class="learnMoreItem">
        	<h2><a href="{% url flatcontent.views.page page_slug="about-project" %}">About the Project</a></h2>
            <a href="{% url flatcontent.views.page page_slug="about-project" %}"><img src="{{ MEDIA_URL }}_images/photos/home/about.jpg" alt="About the Buy the Bay Project" />
            <p class="transparent">Learn more about the project from Heal The Bay and how, together, we can help preserve the beach we love.</p></a>
        </article>
        
        <article id="aboutArtists" class="learnMoreItem">
   	    	<h2><a href="{% url artists.views.index %}">Artists &amp; Designers</a></h2>
            <a href="{% url artists.views.index %}"><img src="{{ MEDIA_URL }}_images/photos/home/artists.jpg" alt="About the Buy the Bay Artists" />
            <p class="transparent">Browse our talented group of artists, illustrators and designers who helped make this project possible.</p></a>
        </article>
        
        <article id="theLatest" class="learnMoreItem">
   	    	<h2><a href="{% url blog.views.index %}">The Latest</a></h2>
        	<a href="{% url blog.views.index %}"><img src="{{ MEDIA_URL }}_images/photos/home/whats-new.jpg" alt="The Latest in Buy the Bay News" />
            <p class="transparent">See <em>Buy The Bay</em> in the news, go behind the scenes with artists and find out other ways you can help.</p></a>
        </article>
        
        <article id="whoWeAre" class="learnMoreItem">
   	   		<h2><a href="{% url flatcontent.views.page page_slug="heal-the-bay" %}">Who We Are</a></h2>
            <a href="{% url flatcontent.views.page page_slug="heal-the-bay" %}"><img src="{{ MEDIA_URL }}_images/photos/home/who-we-are.jpg" alt="Who is Heal the bay and what do they do?" />
            <p class="transparent">Learn how Heal The Bay has helped protect Southern California beaches and coastal waters for a quarter-century.</p></a>
        </article>
    </section>
<script type="text/javascript" src="{{ MEDIA_URL }}_js/easySlider1.7.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#featContainer ").easySlider({ 
			auto:true,
			continuous:true,
			numeric: true,
			speed: 1200,
			pause: 7000,
			numericId: 'featControls'
		});
		$("#featuredSection li a").hover(
	  		function() { /*$(this).children(".featOn").fadeOut();*/ $(this).children(".featOver").fadeIn(); },
	  		function() {/* $(this).children(".featOn").fadeIn(); */$(this).children(".featOver").fadeOut();  }
		);
	});
	
</script>
{% endblock %}
