{% extends "base.html" %}
{% load humanize thumbnail %}

{% block title %}Shopping Cart | {{ block.super }}{% endblock %}
{% block pageClass %}cart{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript">
    // Set up extra donation field interactions
    $(function() {
      function currency(amount) {
        // Takes an int or float and converts it to a string in the form '1.23'
        var dollars = '' + Math.floor(amount);
        var cents = Math.round(amount * 100) % 100;
        cents = (cents < 10) ? '0' + cents : '' + cents;
        return dollars + '.' + cents;
      }

      // Handle changes to the donation amount
      $('#id_donation').change(function() {
        // Update the cart on the server
        var serialized_form = $('#purchaseForm').serialize();
        $.getJSON('{% url orders.views.update_cart %}?' + serialized_form, function(data, textStatus) {
          // Update the totals on the page
          if (data) {
            $('#cartSubtotal span.amount').text(currency(data.subtotal));
            $('#cartTax span.amount').text(currency(data.tax));
            $('#cartShipping span.amount').text(currency(data.shipping));
            if (data.donation) {
              $('#cartDonation').show();
              $('#cartDonation span.amount').text(currency(data.donation));
            }
            else {
              $('#cartDonation').hide();
              $('#cartDonation span.amount').text(currency(0));
            }
            $('#cartTotal span.amount').text(currency(data.total));
          }
        });
      });

      // Reset to 0 when clicking to remove
      $('#removeDonation').click(function() {
        $('#id_donation').val('0').change();
        return false;
      });
    });
  </script>
{% endblock %}

{% block body %}
  <h1 id="yourcart">Shopping Cart</h1>

<form id="purchaseForm" method="POST" action="{% url orders.views.cart %}">
<section id="cartInfo">
    {% csrf_token %}
    {{ cart.management_form }}
    <table id="cartTable">
	<thead>
      <tr>
        <th scope="col" id="productCell" width="420">Product</th>
        <th scope="col" id="qtyCell" width="80">Quantity</th>
		<th scope="col" id="priceCell" width="105">Price</th>
        <th scope="col" id="removeCell" width="85">Remove</th>
      </tr>
	</thead>
	<tbody>
      {% for product_in_cart in cart.products %}
        <tr class="row">
          <td class="itemDetails" valign="middle"><a href="{% url products.views.product product_slug=product_in_cart.product.slug %}">
				<img src="{% thumbnail product_in_cart.product.main_image_1 60x60 crop %}" alt="{{ product_in_cart.product.name  }}">
			</a>
			<h3><a href="{% url products.views.product product_slug=product_in_cart.product.slug %}">{{ product_in_cart.product.name }}</a></h3>
			</td>
		  <td class="itemQty" valign="middle">{{ product_in_cart.quantity }}</td>
          <td class="itemPrice" valign="middle">${{ product_in_cart.total_price|floatformat:2|intcomma }}</td>
          <td class="itemRemove" valign="middle"><a href="{% url orders.views.remove product_slug=product_in_cart.product.slug %}">X</a></td>
        </tr>
      {% endfor %}
      
	</tbody>
    </table>
    <p><!--<input type="submit" value="Update Cart" />--></p>
</section>

<section id="priceDetails">
<ul>
  <li id="cartSubtotal">
    <span class="label">Subtotal:</span>
    $<span class="amount">{{ cart.subtotal|floatformat:2|intcomma }}</span>
  </li>
  <li id="cartTax">
    <span class="label">Tax:</span>
    $<span class="amount">{{ cart.tax|floatformat:2|intcomma }}</span>
  </li>
  <li id="cartShipping">
    <span class="label">Shipping:</span>
    $<span class="amount">{{ cart.shipping|floatformat:2|intcomma }}</span>
  </li>
  <li id="cartDonation">
    <span class="label">Donation to Buy the Bay:</span>
    $<span class="amount">{{ donation_form.donation }}</span>
  </li>
  <li id="cartTotal">
    <span id="total" class="label">Total:</span>
    $<span class="amount">{{ cart.total|floatformat:2|intcomma }}</span>
  </li>
  <li id="checkoutPaypal">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />
  </li>
</ul>
</section>

</form>

{% endblock %}
