{% extends "base.html" %}
{% load humanize thumbnail %}

{% block title %}Shopping Cart | {{ block.super }}{% endblock %}
{% block pageClass %}cart{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript">
    // Set up extra donation field interactions
    $(function() {
      function currency(amount) {
        // Takes an int or float and converts it to a string in the form '1.23'
        var dollars = '' + Math.floor(amount);
        var cents = Math.round(amount * 100) % 100;
        cents = (cents < 10) ? '0' + cents : '' + cents;
        return dollars + '.' + cents;
      }

      // Handle changes to the donation amount
      $('#id_donation').change(function() {
        // Update the cart on the server
        var serialized_form = $('#purchaseForm').serialize();
        $.ajax({
          url: '{% url orders.views.update_cart %}',
          type: 'POST',
          dataType: 'json',
          data: serialized_form,
          success: function(data, textStatus) {
            // Update the totals on the page
            if (data) {
              $('#cartSubtotal span.amount').text(currency(data.subtotal));
              $('#cartTax span.amount').text(currency(data.tax));
              $('#cartShipping span.amount').text(currency(data.shipping));
              $('#cartTotal span.amount').text(currency(data.total));
            }
          }
        });
      });
    });
  </script>
{% endblock %}

{% block body %}
  <h1 id="yourcart">Shopping Cart</h1>

<form id="purchaseForm" method="POST" action="{{ paypal_post_url }}">

  {# PAYPAL PAYMENT BUTTON INPUTS #}
  <input type="hidden" name="business" value="{{ paypal_business }}" />
  <input type="hidden" name="currency_code" value="{{ paypal_currency_code }}" />
  <input type="hidden" name="return" value="http://{{ request.get_host }}{{ paypal_return_url }}" />
  <input type="hidden" name="cmd" value="_cart" />
  <input type="hidden" name="upload" value="1" />
  <input type="hidden" name="no_shipping" value="1" />
  {# <input type="hidden" name="invoice" value="{{ paypal_invoice_id }}" /> #}
  {% for product_in_cart in cart.products %}
    <input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ product_in_cart.product.name }}" />
    <input type="hidden" name="amount_{{ forloop.counter }}" value="{{ product_in_cart.total_price|floatformat:2 }}" />
    <input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ product_in_cart.quantity }}" />
  {% endfor %}
  {# LEAVE THE HANDLING CHARGE ALONE!  PAYPAL SHIPPING WILL INEVITABLY BE MESSED UP IF YOU USE THEIR SHIPPING METHODS #}
  {# To work around their bizarre system, we are telling Paypal "no shipping" and adding all shipping charges as handling #}
  <input type="hidden" name="handling_cart" value="{{ cart.shipping|floatformat:2 }}" />
  <input type="hidden" name="tax_cart" value="{{ cart.tax|floatformat:2 }}" />
  <input type="hidden" name="notify_url" value="http://{{ request.get_host }}{% url orders.views.standard_notify %}" />
  <input type="submit" value="Pay" />

<section id="cartInfo">
    <table id="cartTable">
	<thead>
      <tr>
        <th scope="col" id="productCell" width="420">Product</th>
        <th scope="col" id="qtyCell" width="80">Quantity</th>
		<th scope="col" id="priceCell" width="105">Price</th>
        <th scope="col" id="removeCell" width="85">Remove</th>
      </tr>
	</thead>
	<tbody>
      {% for product_in_cart in cart.products %}
        <tr class="row">
          <td class="itemDetails" valign="middle"><a href="{% url products.views.product product_slug=product_in_cart.product.slug %}">
				<img src="{% thumbnail product_in_cart.product.main_image_1 60x60 crop %}" alt="{{ product_in_cart.product.name  }}">
			</a>
			<h3><a href="{% url products.views.product product_slug=product_in_cart.product.slug %}">{{ product_in_cart.product.name }}</a></h3>
			</td>
		  <td class="itemQty" valign="middle">{{ product_in_cart.quantity }}</td>
          <td class="itemPrice" valign="middle">${{ product_in_cart.total_price|floatformat:2|intcomma }}</td>
          <td class="itemRemove" valign="middle"><a href="{% url orders.views.remove product_slug=product_in_cart.product.slug %}">X</a></td>
        </tr>
      {% endfor %}
      
	</tbody>
    </table>
    <p><!--<input type="submit" value="Update Cart" />--></p>
</section>

<section id="orderNotes">
  <label for="id_notes">Notes:</label>
  {{ order_form.notes }}
</section>

<section id="priceDetails">
<ul>
  <li id="cartSubtotal">
    <span class="label">Subtotal:</span>
    $<span class="amount">{{ cart.subtotal|floatformat:2|intcomma }}</span>
  </li>
  <li id="cartTax">
    <span class="label">Tax:</span>
    $<span class="amount">{{ cart.tax|floatformat:2|intcomma }}</span>
  </li>
  <li id="cartShipping">
    <span class="label">Shipping:</span>
    $<span class="amount">{{ cart.shipping|floatformat:2|intcomma }}</span>
  </li>
  <li id="cartDonation">
    <span class="label">Make an additional donation to Heal the Bay:</span>
    $<span class="amount">{{ order_form.donation }}</span>
  </li>
  <li id="cartTotal">
    <span id="total" class="label">Total:</span>
    $<span class="amount">{{ cart.total|floatformat:2|intcomma }}</span>
  </li>
  <li id="checkoutPaypal">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />
  </li>
</ul>
</section>

</form>

{% endblock %}
