{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ block.super }} | Shopping Cart {% endblock %}

{% block body %}
  <h2>Shopping Cart</h2>

  <form method="POST" action="{% url orders.views.cart %}">
    {% csrf_token %}
    {{ cart.management_form }}
    <table border="1" cellspacing="0" cellpadding="5">
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Product Subtotal</th>
        <th>Remove</th>
      </tr>
      {% for product_in_cart in cart.products %}
        <tr>
          <td><a href="{% url products.views.product product_slug=product_in_cart.product.slug %}">{{ product_in_cart.product.name }}</a></td>
          <td>${{ product_in_cart.product.price|floatformat:2|intcomma }}</td>
          <td>
            {% for field in product_in_cart.quantity_form %}
              {{ field }}
            {% endfor %}
          </td>
          <td>${{ product_in_cart.total_price|floatformat:2|intcomma }}</td>
          <td><a href="{% url orders.views.remove product_slug=product_in_cart.product.slug %}">Remove</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No products in cart</td>
        </tr>
      {% endfor %}
    </table>
    <p><input type="submit" value="Update Cart" /></p>
  </form>
  <p><strong>Shipping:</strong> ???</p>
  <p><strong>Total:</strong> ${{ cart.total_price|floatformat:2|intcomma }}</p>
  <p><a href="{% url orders.views.purchase %}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" /></a></p>
{% endblock %}
