{% extends "base.html" %}
{% block title %}Order Confirmation | {{ block.super }}{% endblock %}
{% block pageClass %}thankyou{% endblock %}
{% block extrahead %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16643544-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '{{ order.paypal_transactionid }}',           // order ID - required
    'Buy the Bay',  // affiliation or store name
    '{{ order.paypal_amt }}',          // total - required
    '{{ order.paypal_taxamt }}',           // tax
    '0',              // shipping
    '{{ order.user_shiptocity }}',       // city
    '{{ order.user_shiptostate }}',     // state or province
    'USA'             // country
  ]);

   // add item might be called for every item in the shopping cart
   // where your ecommerce engine loops through each item in the cart and
   // prints out _addItem for each
{% for product_in_order in order.get_as_cart.products %}
  _gaq.push(['_addItem',
    '{{ order.paypal_transactionid }}',           // order ID - required
    '{{ product_in_order.product.id }}',           // SKU/code - required
    '{{ product_in_order.product.name }}',        // product name
    '',   // category or variation
    '{{ product_in_order.product.price }}',          // unit price - required
    'product_in_order.quantity'               // quantity - required
  ]);
{% endfor %}
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}
{% block body %}
  <h1 id="thankyou">Thank you for buying the bay</h1>
<section id="cartInfo">
 <!-- <ul>
	<li>Order ID number: {{ order.paypal_transactionid }}</li>
    {% for product_in_order in order.get_as_cart.products %}
      <li>{{ product_in_order.quantity }} x {{ product_in_order.product.name }}</li>
    {% endfor %}
  </ul>

  <p>Your order will be shipped in 4-6 weeks to:</p>

  <p>
    {{ order.user_shiptoname }}<br />
    {{ order.user_shiptostreet }}<br />
    {% if order.user_shiptostreet2 %}{{ order.user_shiptostreet2 }}<br />{% endif %}
    {{ order.user_shiptocity }}, {{ order.user_shiptostate }} {{ order.user_shiptozip }}<br />
  </p>-->
	<h2>Thank you so much for your contribution. It will go a long way toward helping us preserve our most cherished beach experiences.</h2> 
	
	<h2>Don't stop now. Continue to help in ways that cost nothing.</h2>
	<ul id="howtohelp">
		<li>You can <a href="#" id="fbShare" class="colorLink">Share</a> this project with friends on <a href="http://www.facebook.com/healthebayfans" target="_blank" rel="external" title="Like Heal the Bay on Facebook">Facebook</a></li>
		<li>You can <a href="http://twitter.com/buythebay" target="_blank" rel="external" title="Follow Buy the Bay on Twitter" id="followUs" class="colorLink">Follow us</a> on Twitter for updates on all new products and artists.</li>
		<li>You can <a href="http://www.facebook.com/healthebayfans" target="_blank" rel="external" title="Like Heal the Bay on Facebook" id="becomeAFan" class="colorLink">Become a fan</a> of Heal the Bay or join our <a href="https://npo.networkforgood.org/Donate/Donate.aspx?npoSubscriptionId=1000821&uniqueID=633653152668320652" target="_blank" rel="external" title="Join our mailing list">mailing list</a> for new updates.</li>
		<li>You can <a href="http://www.healthebay.org/calendar/default.asp" target="_blank" rel="external" title="Participate in a Heal the Bay event" id="participateClean" class="colorLink">Participate</a> in an upcoming beach cleanup or similar event.</li>
	</ul>
	</section>
{% endblock %}
