{% extends "base.html" %}
{% load markup thumbnail selected %}

{% block title %}{{ page.name }} | {{ block.super }}{% endblock %}
{% block pageClass %}about{% endblock %}

{% block body %}
<h1 id="{{ page.slug }}">{{ page.name }}</h1>
<aside id="sidebar" class="fl">
	<nav id="aboutNav">
    	<ul>
        	<li><a href="{% url flatcontent.views.page page_slug="about-project" %}" class="{% selected flatcontent.views.page page_slug="about-project" %}">About</a></li>
            <li><a href="{% url flatcontent.views.page page_slug="heal-the-bay" %}" class="{% selected flatcontent.views.page page_slug="heal-the-bay" %}">Heal the Bay</a></li>
			<li><a href="{% url flatcontent.views.page page_slug="faq" %}" class="{% selected flatcontent.views.page page_slug="faq" %}">FAQ</a></li>
            <li><a href="{% url flatcontent.views.page page_slug="get-involved" %}" class="{% selected flatcontent.views.page page_slug="get-involved" %}">Get Involved</a></li>
       
			<li><a href="{% url flatcontent.views.page page_slug="site-info" %}" class="{% selected flatcontent.views.page page_slug="site-info" %}">Site Info</a></li>
            <li><a href="{% url flatcontent.views.page page_slug="contact-us" %}" class="{% selected flatcontent.views.page page_slug="contact-us" %}">Contact Us</a></li>
        </ul>
    </nav>

</aside>

<article id="aboutContent">

	<figure id="aboutPhoto"><img src="{% thumbnail page.image 600x600 %}" alt="{{ page.name }}" /></figure>
	{{ page.content|textile }}	
</article>
<aside id="aboutFooter">
	{% if page.slug != "get-involved" %}
	<h3 id="getInvolved"><a href="{% url flatcontent.views.page page_slug="get-involved" %}">Get Involved</a></h3>{% endif %}
  <h3 id="visitHTB"><a href="http://www.healthebay.org" rel="external" target="_blank">Visit Heal the Bay</a></h3>
  <figure id="spreadWord">
  	<h3>Spread the Word</h3>
      		<!-- AddThis Button BEGIN -->
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	        <ul class="socialLinks addthis_toolbox addthis_default_style">
	        	<li><a class="addthis_button_facebook">Facebook</a></li>
	            <li><a class="addthis_button_twitter">Twitter</a></li>
	            <li><a class="addthis_button_email">Email</a></li>
				<!--<li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=philosophie" class="addthis_button_compact"></a></li>-->
	        </ul>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=philosophie"></script>
			<!-- AddThis Button END -->
  </figure>
</aside>

{% endblock %}
