{% load humanize %}
<table border="0" cellspacing="0" cellpadding="30" width="574">
	<tr><th><img src="{{ MEDIA_URL }}_images/email/buy-the-bay-header.png" width="574" alt="Buy The Bay Header"></th></tr>
	<tr>
		<td bgcolor="#007eb0" style="position: relative; color: #fff;">
			<h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: normal; color: #fff;">Thank you, {{ order.user_shiptoname }}.</h1>
				<table width="574" border="0" cellspacing="0" cellpadding="0" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #fff;">
					<tr>
						<td><strong style="font-weight: bold;">Your order number is:</strong></td>
						<td colspan="3">{{ order.id }}</td>						
					</tr>
					<tr>
						<!--<td><strong style="font-weight: bold;">Your tax-deductible gift amount is:</strong></td>
						<td colspan="3">${{ cart.tax_deductible|floatformat:2|intcomma }}</td>-->
						<td>Your tax-deductible gift amount will be printed on the physical receipt accompanying your item(s)</td>						
					</tr>
					<tr>
						<td><strong style="font-weight: bold;">Your order:</strong></td>
						<td>Qty</td>
						<td>Name</td>
						<td>Price</td>
					</tr>
					{% with order.get_as_cart as cart %}
					{% for product_in_cart in cart.products %}
					<tr>
						<td></td>
						<td>{{ product_in_cart.quantity }}</td>
						<td>{{ product_in_cart.product.name }}</td>
						<td>${{ product_in_cart.total_price|floatformat:2|intcomma }}</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="2"></td>
						<td><strong style="font-weight: bold;">Subtotal:</strong></td>
						<td>${{ cart.subtotal|floatformat:2|intcomma }}</td>
					</tr>
					<tr>
						<td colspan="2"></td>
						<td><strong style="font-weight: bold;">Tax:</strong></td>
						<td>${{ cart.tax|floatformat:2|intcomma }}</td>
					</tr>
					<tr>
						<td colspan="2"></td>
						<td><strong style="font-weight: bold;">Shipping:</strong></td>
						<td>${{ cart.shipping|floatformat:2|intcomma }}</td>
					</tr>
					<tr>
						<td colspan="2"></td>
						<td><strong style="font-weight: bold;">Total:</strong></td>
						<td>{% if cart.donation %}Donation: ${{ cart.donation|floatformat:2|intcomma }}{% endif %}</td>
					</tr>
					{% endwith %}
				</table>

			<p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #fff; margin-bottom: 20px;">This email confirms your purchase and recognizes your contribution to help Heal the Bay preserve such an amazing beach experience.</p>
			<p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #fff; margin-bottom: 20px;">Please keep this confirmation for your records.</p>
			<p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #fff; margin-bottom: 20px;">As we prepare to ship your order, we'd like you let you know a few other ways you can help protect our beaches that don't cost a thing: <a style="color: #fff; font-weight: bold;" href="http://buythebay.org/about/get-involved/" target="_blank">more things you can do that cost nothing!</a></p>
			<p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #fff; margin-bottom: 20px;">Of course, nothing comes easier than sharing this program with your family and friends. Please find us on <a style="color: #fff; font-weight: bold;" href="http://www.facebook.com/group.php?gid=2794023188" target="_blank">Facebook</a> and <a style="color: #fff; font-weight: bold;" href="http://www.twitter.com/buythebay" target="_blank">Twitter</a> for real-time updates on new products, new artist contributions and new ways we can all preserve the beach we love.</p>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td><p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #fff; margin-bottom: 20px;">Thanks again,<br/>
						Your friends at Heal the Bay
					</p></td>
					<td align="right"><img src="{{ MEDIA_URL }}_images/email/heal-the-bay-logo-small.png" width="63" height="40" alt="Heal The Bay Logo Small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr align="center">
		<td>
			<p style="font-family: Helvetica, Arial, sans-serif; font-size: 11px;">
				<a style="text-decoration: none; color: #787878;" href="http://buythebay.org" target="_blank">Visit Buy the Bay &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a style="text-decoration: none; color: #787878;" href="http://healthebay.org" target="_blank">Visit Heal the Bay &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a style="text-decoration: none; color: #787878;" href="http://buythebay.org/about/get-involved/" target="_blank">Get Involved &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a style="text-decoration: none; color: #787878;" href="https://npo.networkforgood.org/Donate/Donate.aspx?npoSubscriptionId=1000810&uniqueID=633653156413320652" target="_blank">Donate &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a style="text-decoration: none; color: #787878;" href="http://buythebay.org/about/site-info/" target="_blank">Privacy Policy &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a style="text-decoration: none; color: #787878;" href="http://buythebay.org/about/contact-us/" target="_blank">Contact Us</a>
			</p>
		</td>
	</tr>
</table>